*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    height: 100vh;
    background-image: url("20251114160805_20251115030208.png");
    background-size: cover;
    display: flex;                
    align-items: center;          
    justify-content: center;      
}

.container {
    width: 100%;
    display: flex;               
    justify-content: center;     
    align-items: center;         
    gap: 80px;                   
    padding: 40px;
}

.left-session{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 80px 60px;
    align-items: flex-start;
    text-align: left;
}

.left-session h1{
    font-size: 32px;
    margin-bottom: 20px;
    font-weight: 400;
    color: rgb(34, 55, 124);
}

.left-session h1 span{
    border-bottom: 2px solid rgb(34, 55, 124);
    display: inline-block;
}

.left-session p{
    font-size: 18px;
    line-height: 1.6;
    opacity: 0.7;
    color: rgb(34, 55, 124);
}

.right-session{
    flex-basis: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.card{
    width: 380px;
    padding: 20px 0;
}

.card h2{
    font-size: 32px;
    color: rgb(73, 71, 71);
    font-weight: 400;
    text-align: center;
    align-items: center;
    margin-top: 40px;
}

.subtitle{
    font-size: 16px;
    color: rgb(73, 71, 71);
    opacity: 0.7;
    margin-bottom: 40px;
    text-align: center;
    margin-top: 20px;
}

form label{
    display: block;
    margin-bottom: 8px;
    color: rgb(73, 71, 71);
    opacity: 0.7;
    font-weight: 400;
    cursor: pointer;
}

form input {
    width: 100%;
    padding: 14px 16px;
    margin-bottom: 20px;
    border: 2px solid #e0e0e0;
    border-radius: 10px;
    font-size: 16px;
    transition: 0.3s;
}

form input:focus{
    outline: none;
    border-color: black;
}

button {
    width: 100%;
    padding: 14px;
    background: rgb(52, 52, 235);
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
}

button:hover {
    background: blue;
}

.signin-text{
    text-align: center;
    margin-top: 30px;
    color: #666;
    margin-bottom: 40px;
}

.signin-text a{
    text-align: center;
    margin-top: 30px;
    color: blue;
    text-decoration: none;
}

.signin-text a:hover{
    text-decoration: underline;
}

@media screen and (max-width: 768px){
    .container{
        flex-direction: column;
        padding: 20px;
        gap: 40px;
        height: auto;
    }
    body{
        overflow-y: auto;
        height: auto;
    }
    .left-session, .right-card{
        flex-basis: 100%;
    }

    .left-session{
        padding: 40px 20px;
        text-align: center;
    }

    .right-card{
        width: 100%;
        background-color: transparent;
    }

    .card{
        width: 100%;
        max-width: 380px;
        background-color: white;
        padding: 20px;
        border-radius: 10px;
    }
}